/*.colcol {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100%;*/
/*    width: 100%*/
/*}*/
/*.colcol:hover {*/
/*    cursor: pointer;*/
/*}*/
.navbar .svg-btn svg {
    fill: white;
}
.navbar .svg-btn:hover svg {
    fill: #89e1f3;
}
/*.mbutton {*/
/*    width: 100%;*/
/*    background-color: #89e1f3;*/
/*    border-radius: 3px;*/
/*    color: white;*/
/*    border: 3px solid #89e1f3;*/
/*    height: 100%*/
/*}*/
/*.mbutton:hover {*/
/*    cursor: pointer;*/
/*    opacity: .9;*/
/*}*/
/*.mbutton:focus {*/
/*    outline: none;*/
/*}*/
/*.mform {*/
/*    display: inline-block;*/
/*    width: 49%;*/
/*    padding: 8px;*/
/*    height: 100%*/
/*}*/
.navbar .logo {
    fill: #fff
}