.sidebar {
    border-right: 1px solid #2e2e35;
    height: 100%;
}

.sidebar .nav-link {
    padding: 10px 10px 10px 15px;
    color: #2e2e35;
    font-family: Arial,sans-serif;
    font-weight: 100;
    font-size: small
}

.sidebar .nav-link:hover{
    color: #2e2e35;
    opacity: 70%;
}

.sidebar .nav-link.active{
    background-color: #ebebeb;
    font-weight: bold;
    border-right: 3px solid #89e1f3;
}