<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Задать публичный вопрос</title>
    <link href="/css/askQuestions.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container h-100">
    <div class="d-flex justify-content-between mb-3 align-items-center">
        <h3>Задать публичный вопрос</h3>
    </div>
    <p></p>
    <div class="card" style="width: 58rem;">
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label for="headTextInput" class="form-label">
                        <h5>Заголовок</h5>
                    </label>
                    <h6 class="card-subtitle mb-2 text-muted">Будьте конкретны и представьте, что вы задаёте вопрос другому человеку.</h6>
                    <input type="text" id="headTextInput" class="form-control" placeholder="В чём заключается ваш вопрос? Будьте конкретны.">
                </div>
            </form>
            <form>
                <div class="mb-3">
                    <label for="mainTextInput" class="form-label">
                        <h5>Текст вопроса</h5>
                    </label>
                    <h6 class="card-subtitle mb-2 text-muted">Включите всю информацию, которая может понадобиться кому-то, чтобы ответить на ваш вопрос.</h6>

                    <textarea id="mainTextInput" class="form-control" rows="4"></textarea>
                </div>
            </form>
            <form>
                <div class="mb-3">
                    <label for="tagsTextInput" class="form-label">
                        <h5>Метки</h5>
                    </label>
                    <h6 class="card-subtitle mb-2 text-muted">Добавьте до 5 меток, чтобы описать о чём ваш вопрос</h6>
                    <input type="text" id="tagsTextInput" class="form-control" placeholder="например, [ java колллекции база-данных ] ">
                </div>
            </form>
        </div>
    </div>
    <p></p>
    <button class="btn btn-info h-50">Задайте ваш вопрос</button>
</div>
<script type="text/javascript" src="/js/initScriptAuthorized.js"></script>
<script type="text/javascript" src="/js/askQuestion.js"></script>
</body>
</html>