<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/footerCss.css" rel="stylesheet" type="text/css">
</head>
<body style="margin: 0">
<div class="main_block">
    <div class="block">
        <div class="title">
            BLOCK1
        </div>
        <div class="mdiv">
            item1
        </div>
        <div class="mdiv">
            item2
        </div>
        <div class="mdiv">
            item3
        </div>
    </div>
    <div class="block">
        <div class="title">
            BLOCK2
        </div>
        <div class="mdiv">
            item1
        </div>
        <div class="mdiv">
            item2
        </div>
        <div class="mdiv">
            item3
        </div>
    </div>
    <div class="block">
        <div class="title">
            BLOCK3
        </div>
        <div class="mdiv">
            item1
        </div>
        <div class="mdiv">
            item2
        </div>
        <div class="mdiv">
            item3
        </div>
    </div>
    <div class="block">
        <div class="title">
            CONTACT US
        </div>
        <div class="mdiv">
            item1
        </div>
        <div class="mdiv">
            item2
        </div>
        <div class="mdiv">
            item3
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/footerJs.js"></script>

</body>
</html>