<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Форма входа:</h1>
<div>
    <form method="post" action="/login">
        <table>
            <tr>
                <td><label for="username">Email</label></td>
                <td><input name="j_username" id="username"/></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input name="j_password" id="password"/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>