<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/questions.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="main">
<div style="width: 100%">
    <div class="inline_block_top" style="width: 65%">
        <div style="padding: 10px 0 0 10px;width: 100%;overflow: hidden; border-bottom: #2e2e35 solid 1px">
            <div style="width: 100%;overflow: hidden; margin-bottom: 15px; padding: 5px">
                <div style="display: inline-block; float: left">
                    <span style="font-family: Arial,sans-serif; font-weight: 200; font-size: x-large">Все вопросы</span>
                </div>
                    <button class="btn-primary btn" style="display: inline-block; float: right">Задать вопрос</button>
            </div>
            <div style="width: 100%;overflow: hidden;padding: 5px">
                <div style="display: inline-block; float: left">
                    <p style="font-family: Arial,sans-serif; font-weight: 200; font-size: large">
                        <span id="number_of_questions">1</span> <span id="question_word">Вопрос</span>
                    </p>
                </div>
                <div style="display: inline-block; float: right">

                    <div style="">
                        <button class="left_nav_btn active_nav_btn" id="new_btn">
                            Новые
                        </button><button class="nav_btn" id="current_btn">
                            Текущие
                        </button><button class="nav_btn" id="competition_btn">
                            Конкурсные
                        </button><button class="right_nav_btn" id="unanswered_btn">
                            Неотвеченные
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="questions_list">
            <div style="width: 100%; border-bottom: #2e2e35 solid 1px; padding-left: 15px">
                <div style="width: 10%; display: inline-block; vertical-align: top">
                    <div class="question_info">
                        <div class="number">249</div>
                        <div class="text">голосов</div>
                    </div>
                    <div class="question_info_green">
                        <div class="number">24</div>
                        <div class="text">ответов</div>
                    </div>
                    <div class="question_info">
                        <div class="number">514</div>
                        <div class="text">показов</div>
                    </div>
                </div>
                <div style="width: 88%; padding: 10px 0 0 10px; display: inline-block; vertical-align: top">
                    <div class="question_title">
                        Question1?
                    </div>
                    <div>
                        Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text
                    </div>
                    <div style="width: 63%; display: inline-block" id="tags_list1">
                        <span class="tag_form tag_form_list">tag_name_1</span>
                        <span class="tag_form tag_form_list">tag_name_2</span>
                        <span class="tag_form tag_form_list">tag_name_3</span>
                        <span class="tag_form tag_form_list">tag_name_4</span>
                        <span class="tag_form tag_form_list">tag_name_5</span>
                        <span class="tag_form tag_form_list">tag_name_6</span>
                    </div>
                    <div class="inline_block_top" style="width: 35%">
                        <div style="color: gray; font-size: small; font-weight: 300;margin-bottom: 5px">
                            задан <span id="question_date1">25 декабря `21</span> в <span id="question_time1">22:00</span>
                        </div>
                        <div>
                            <div style="display: inline-block; margin: 0 10px 0 0">
                                <img src="/images/ProfileIcon.jpg" alt="я красивая картинка" width="50" height="50"/>
                            </div>
                            <div style="display: inline-block; vertical-align: bottom">
                                <div class="username_form">username1</div>
                                <div class="reputation_form">145</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 100%; border-bottom: #2e2e35 solid 1px; padding-left: 15px">
                <div class="inline_block_top" style="width: 10%">
                    <div class="question_info">
                        <div class="number">58</div>
                        <div class="text">голосов</div>
                    </div>
                    <div class="question_info_green">
                        <div class="number">159</div>
                        <div class="text">ответов</div>
                    </div>
                    <div class="question_info">
                        <div class="number">1354</div>
                        <div class="text">показов</div>
                    </div>
                </div>
                <div class="inline_block_top" style="width: 88%; padding: 10px 0 0 10px">
                    <div class="question_title">
                        Question2?
                    </div>
                    <div>
                        Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text
                    </div>
                    <div style="width: 63%; display: inline-block" id="tags_list2">
                        <span class="tag_form tag_form_list" >tag_name_1</span>
                        <span class="tag_form tag_form_list">tag_name_2</span>
                        <span class="tag_form tag_form_list">tag_name_3</span>
                        <span class="tag_form tag_form_list">tag_name_4</span>
                        <span class="tag_form tag_form_list">tag_name_5</span>
                        <span class="tag_form tag_form_list">tag_name_6</span>
                    </div>
                    <div class="inline_block_top" style="width: 35%">
                        <div style="color: gray; font-size: small; font-weight: 300;margin-bottom: 5px">
                            задан <span id="question_date2">25 декабря `21</span> в <span id="question_time2">22:00</span>
                        </div>
                        <div>
                            <div style="display: inline-block; margin: 0 10px 0 0">
                                <img src="/images/ProfileIcon.jpg" alt="я красивая картинка" width="50" height="50"/>
                            </div>
                            <div style="display: inline-block; vertical-align: bottom">
                                <div class="username_form">username2</div>
                                <div class="reputation_form">79</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inline_block_top" style="width: 30%; padding: 15px">

        <div style="border: 1px solid lightgray; border-radius: 5px; margin-bottom: 25px">
            <div style="border-bottom: 1px solid lightgray;
                        background-color: #ebebeb;
                        padding: 5px;">
                Отслеживаемые метки
            </div>
            <div style="padding: 15px">
                <div style="margin-bottom: 10px">
                    <svg style="display: block; margin-left: auto; margin-right: auto;" aria-hidden="true" fill="#379fef" width="48" height="48" viewBox="0 0 48 48">
                        <path opacity=".5" d="M29.22 38.1a3.4 3.4 0 014.81-4.82l8.81 8.81a3.4 3.4 0 01-4.81 4.81l-8.81-8.8z"></path><path d="M18.5 5a1 1 0 100 2c.63 0 1.24.05 1.84.15a1 1 0 00.32-1.98A13.6 13.6 0 0018.5 5zm7.02 1.97a1 1 0 10-1.04 1.7 11.5 11.5 0 0 1 5.44 8.45 1 1 0 0 0 1.98-.24 13.5 13.5 0 0 0-6.38-9.91zM18.5 0a18.5 18.5 0 1010.76 33.55c.16.57.46 1.12.9 1.57L40 44.94A3.5 3.5 0 1044.94 40l-9.82-9.82c-.45-.45-1-.75-1.57-.9A18.5 18.5 0 0018.5 0zM2 18.5a16.5 16.5 0 1133 0 16.5 16.5 0 0 1-33 0zm29.58 15.2a1.5 1.5 0 112.12-2.12l9.83 9.83a1.5 1.5 0 11-2.12 2.12l-9.83-9.83z"></path></svg>
                </div>
                <div style="text-align: center; margin-bottom: 10px">
                    <span style="color: gray">
                        Отслеживайте метки, чтобы интересные вам вопросы были в центре внимания.
                    </span>
                </div>
                <div style="margin-bottom: 10px">
                    <button style="display: block; margin-left: auto; margin-right: auto;"
                            class="btn btn-primary">
                        Добавить метку в отслеживаемые
                    </button>
                </div>
            </div>
        </div>
        <div style="border: 1px solid lightgray; border-radius: 5px; margin-bottom: 25px">
            <div style="border-bottom: 1px solid lightgray;
                        background-color: #ebebeb;
                        padding: 5px;">
                Игнорируемые метки
            </div>
            <div style="margin: 15px 0">
                <button style="display: block; margin-left: auto; margin-right: auto"
                        class="btn btn-primary">
                    Добавить метку в игнорируемые
                </button>
            </div>
        </div>
        <div>
            <div style="margin-bottom: 10px">
                <span style="font-weight: 400; font-size: large">
                    Связанные метки
                </span>
            </div>
            <div id="tags">
                <div style="margin-bottom: 10px">
                    <span class="tag_form" >tag_name_1</span>
                    <span class="">×</span>
                    <span>100</span>
                </div>
                <div>
                    <span class="tag_form">tag_name_2</span>
                    <span class="">×</span>
                    <span>200</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="/js/initScriptAuthorized.js"></script>
</body>
</html>
