<script src="/js/authorizationCheck.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/questions.css" rel="stylesheet" media="screen">
</head>
<body>
<div id="main">
    <div class="row">
        <div class="col-8">
            <div class="d-flex justify-content-between mb-3 align-items-center">
                <h1>Все вопросы</h1>
                <button class="btn btn-info h-50">Задать вопрос</button>
            </div>
            <div class="d-flex justify-content-between mb-3 align-items-center">
                <h3 class="m-0" style="font-weight: 400">
                    <span>2</span>
                    <span>вопроса</span></h3>
                <div class="form-group m-0">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="options" id="new_btn" checked> Новые
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="current_btn"> Текущие
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="competition_btn"> Конкурсные
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="unanswered_btn"> Неотвеченные
                        </label>
                    </div>
                </div>
            </div>
            <!--Questions-->

            <!--Question1-->
            <div class="card mb-3">
                <div class="card-body p-1">
                    <div class="row">
                        <div class="col-2 align-items-center">
                            <div class="text-center">
                                <div>100</div>
                                <small>голосов</small>
                            </div>
                            <div class="text-center text-info border border-info rounded">
                                <div>200</div>
                                <small>ответов</small>
                            </div>
                            <div class="text-center">
                                <div>300</div>
                                <small>показов</small>
                            </div>
                        </div>
                        <div class="col-10">
                            <a class="mb-1" href="#">Question1?</a>
                            <p class="mb-1">Text text text text text text text text text text text text text text text text text
                            </p>
                            <div class="row">
                                <div class="col-7">
                                    <a href="#"><span class="badge bg-info text-light">tag_name_1</span></a>
                                    <a href="#"><span class="badge bg-info text-light">tag_name_2</span></a>
                                    <a href="#"><span class="badge bg-info text-light">tag_name_3</span></a>
                                    <a href="#"><span class="badge bg-info text-light">tag_name_4</span></a>
                                    <a href="#"><span class="badge bg-info text-light">tag_name_5</span></a>
                                    <a href="#"><span class="badge bg-info text-light">tag_name_6</span></a>
                                    <a href="#"><span class="badge bg-info text-light">tag_name_7</span></a>
                                </div>
                                <div class="col-5">
                                    <div>
                                        <div>
                                            <small class="text-muted">
                                                задан <span>26 дек '21 в 00:00</span>
                                            </small>
                                        </div>
                                        <div style="display: inline-block">
                                            <img src="/images/noUserAvatar.png" style="width: 50px; height: 50px"  alt="...">
                                        </div>
                                        <div class="align-items-top" style="display: inline-block; vertical-align: bottom">
                                            <div class="align-items-top">
                                                <a class="align-top" href="#">Username1</a>
                                            </div>
                                            <div class="text-muted">250</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Question2-->
            <div class="card mb-3">
                <div class="card-body p-1">
                    <div class="row">
                        <div class="col-2 align-items-center">
                            <div class="text-center">
                                <div>100</div>
                                <small>голосов</small>
                            </div>
                            <div class="text-center text-info border border-info rounded">
                                <div>200</div>
                                <small>ответов</small>
                            </div>
                            <div class="text-center">
                                <div>300</div>
                                <small>показов</small>
                            </div>
                        </div>
                        <div class="col-10">
                            <a class="mb-1" href="#">Question2?</a>
                            <p class="mb-1">Text text text text text text text text text text text text text text text text text
                            </p>
                            <div class="row">
                                <div class="col-7">
                                    <a href="#"><span class="badge bg-info text-light">tag_name_1</span></a>
                                    <a href="#"><span class="badge bg-info text-light">tag_name_2</span></a>
                                    <a href="#"><span class="badge bg-info text-light">tag_name_3</span></a>
                                    <a href="#"><span class="badge bg-info text-light">tag_name_4</span></a>
                                    <a href="#"><span class="badge bg-info text-light">tag_name_5</span></a>
                                    <a href="#"><span class="badge bg-info text-light">tag_name_6</span></a>
                                    <a href="#"><span class="badge bg-info text-light">tag_name_7</span></a>
                                </div>
                                <div class="col-5">
                                    <div>
                                        <div>
                                            <small class="text-muted">
                                                задан <span>26 дек '21 в 00:00</span>
                                            </small>
                                        </div>
                                        <div style="display: inline-block">
                                            <img src="/images/noUserAvatar.png" style="width: 50px; height: 50px"  alt="...">
                                        </div>
                                        <div class="align-items-top" style="display: inline-block; vertical-align: bottom">
                                            <div class="align-items-top">
                                                <a class="align-top" href="#">Username2</a>
                                            </div>
                                            <div class="text-muted">250</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-4">
                <div class="card-header">
                    Отслеживаемые метки
                </div>
                <div class="card-body text-center">
                    <svg class="mb-3" aria-hidden="true" fill="#379fef" width="48" height="48" viewBox="0 0 48 48">
                        <path opacity=".5" d="M29.22 38.1a3.4 3.4 0 014.81-4.82l8.81 8.81a3.4 3.4 0 01-4.81 4.81l-8.81-8.8z"></path><path d="M18.5 5a1 1 0 100 2c.63 0 1.24.05 1.84.15a1 1 0 00.32-1.98A13.6 13.6 0 0018.5 5zm7.02 1.97a1 1 0 10-1.04 1.7 11.5 11.5 0 0 1 5.44 8.45 1 1 0 0 0 1.98-.24 13.5 13.5 0 0 0-6.38-9.91zM18.5 0a18.5 18.5 0 1010.76 33.55c.16.57.46 1.12.9 1.57L40 44.94A3.5 3.5 0 1044.94 40l-9.82-9.82c-.45-.45-1-.75-1.57-.9A18.5 18.5 0 0018.5 0zM2 18.5a16.5 16.5 0 1133 0 16.5 16.5 0 0 1-33 0zm29.58 15.2a1.5 1.5 0 112.12-2.12l9.83 9.83a1.5 1.5 0 11-2.12 2.12l-9.83-9.83z"></path></svg>
                    <p>
                        Отслеживайте метки, чтобы интересные вам вопросы были в центре внимания.
                    </p>
                    <a href="#" class="btn btn-info">Добавить метку в отслеживаемые</a>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    Игнорируемые метки
                </div>
                <div class="card-body text-center">
                    <a href="#" class="btn btn-info">Добавить метку в игнорируемые</a>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    Связанные метки
                </div>
                <div class="card-body">
                    <div class="mb-1">
                        <a href="#"><span class="badge bg-info text-light">tag_name_1</span></a>
                        <span class="text-muted">×</span>
                        <span class="text-muted">100</span>
                    </div>
                    <div class="mb-1">
                        <a href="#"><span class="badge bg-info text-light">tag_name_2</span></a>
                        <span class="text-muted">×</span>
                        <span class="text-muted">200</span>
                    </div>
                    <div class="mb-1">
                        <a href="#"><span class="badge bg-info text-light">tag_name_3</span></a>
                        <span class="text-muted">×</span>
                        <span class="text-muted">300</span>
                    </div>
                    <div class="btn_link_custom mt-2">больше связанных меток</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/initScriptAuthorized.js"></script>
<script type="text/javascript" src="/js/questions.js"></script>
</body>
</html>