<script src="/js/authorizationCheck.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Метки</title>
    <link href="/css/tags.css" rel="stylesheet" media="screen">
</head>
<body>

<div id="main">
    <h1>Теги</h1>
    <p>
        Тег - это ключевое слово или ярлык, с помощью которого ваш вопрос классифицируется с другими похожими вопросами.
        Использование правильных тегов упрощает другим пользователям поиск вашего вопроса и ответ на него.
    </p>
    <p><a href="#">Показать все синонимы тегов</a></p>
    <form class="form-inline justify-content-between">

        <!-- User filter -->
        <div class="form-group">
            <input type="text" class="form-control" id="filterByUser" placeholder="Фильтр по тегу">
        </div>

        <!-- Category menu -->
        <div class="form-group">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="reputation" checked> Популярные
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="new_users"> Наименование
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="voters"> Новые
                </label>
            </div>
        </div>
    </form>
    <br />

    <div id="pagination_objects" class="col mt-2"></div>
    <div id="navigation" class="col mt-2"></div>

</div>
<script type="text/javascript" src="/js/getPagination.js"></script>
<script type="text/javascript" src="/js/initScriptAuthorized.js"></script>
<script type="text/javascript" src="/js/tags.js"></script>
</body>
</html>