<script src="/js/authorizationCheck.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="/css/users.css" rel="stylesheet" media="screen">
</head>
<body>

<div id="main">
    <h1>Пользователи</h1>
    <form class="form-inline justify-content-between">

        <!-- User filter -->
        <div class="form-group">
            <input type="text" class="form-control" id="filterByUser" placeholder="Фильтр по имени">
        </div>

        <!-- Category menu -->
        <div class="form-group">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="reputation" checked> Репутация
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="new_users"> Новые пользователи
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="voters"> Проголосовавшие
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="editors"> Редакторы
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="moderators"> Модераторы
                </label>
            </div>
        </div>
    </form>

    <!-- Period menu -->
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="#">неделя</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">месяц</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">квартал</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">год</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">всё</a>
        </li>
    </ul>

    <!-- Users grid -->
    <div id="users_grid"></div>

    <!-- Pagination -->
    <nav>
        <div id="users_navigation"></div>
    </nav>
</div>

<script type="text/javascript" src="/js/initScriptAuthorized.js"></script>
<script type="text/javascript" src="/js/getPagination.js"></script>
<script type="text/javascript" src="/js/users.js"></script>
</body>
</html>